body{
	background-color: #fbfbfb;
}

.nome_usuario{
	color:#efefef !important;
}


#sidebar-wrapper {
 
  margin-left: 10px;
  width:200px;
  margin-bottom: 15px;

}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;

}

#sidebar-wrapper .list-group {
  width: 15rem;

}


.ativo{
	color:#FFF;
	background-color: #343a40;

}


.container_admin{
margin-top: 80px;

}

.area_cards{
	margin-left:30px;
	margin-right:15px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}


h1,
.h1 {
  font-size: 3.5em;
  line-height: 1.15;
  margin-bottom: 30px;
}

h1 small,
.h1 small {
  font-weight: 700;
  text-transform: uppercase;
  opacity: .8;
}

h2,
.h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

h3,
.h3 {
  font-size: 2em;
  margin-bottom: 30px;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: 1.714em;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px;
}

h4+.category,
h4.title+.category,
.h4+.category,
.h4.title+.category {
  margin-top: -10px;
}

h5,
.h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6,
.h6 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}


